<!DOCTYPE html>
<html lang="pt-br" ng-app="guiacc">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Guiacc.com.br">
    <meta name="author" content="GuiaCC">
    <link rel="stylesheet" href="app/assets/css/style.css">    
    <link rel="stylesheet" href="app/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="app/bower_components/Ionicons/css/ionicons.css">
	<title>GuiaCC</title>
</head>
<body ng-controller="homeCtrl">
	<div class="container-fluid">
		<form name="formulario" id="formulario" ng-submit="teste(cadastro)">
			<div class="form-group">
				<label>Nome: </label>
				<input class="form-inline" type="text" id="email" ng-model="cadastro.nome">
				<label>Idade: </label>
				<input class="form-inline" type="password" id="senha" ng-model="cadastro.idade">				
				<input type="submit">
				<button ng-click="authenticate('facebook')">Sign in with Facebook</button>
			</div>
		</form>
	</div>
	<div ui-view></div>


	<!-- Main imports-->
	<script src="app/bower_components/angular/angular.js"></script>
	<script src="app/bower_components/angular-bootstrap/ui-bootstrap.js"></script>
	<script src="app/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<script src="app/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
	<script src="app/bower_components/satellizer/dist/satellizer.js"></script>
    <!-- Controllers -->
	<script src="www/controllers/home/homeCtrl.js"></script>
	<!-- Module main-->
	<script src="www/app.js"></script>
    
</body>
</html>